node_modules/
dist/
.venv/
__pycache__/
.env
*.log
*.zip
*.png
*.jpg
*.mp4
# Ignore common folders
node_modules/
dist/
.venv/
__pycache__/
.env

# Ignore media + heavy files
*.log
*.zip
*.png
*.jpg
*.mp4

